<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(i) { %>
      <tr>
        <td><%= i.title %></td>
        
        <td><%= i.price %></td>
        
        <td><a href="/items/<%= i._id %>">DETAILS</a></td>
        <td><a href="/items/<%= i._id %>">X</a></td>

        </form>
      </tr>
      
      <% }); %>
     
     
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
